.navbarMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 8rem;
}

.linkMobileContainer {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.linkMobile {
  text-decoration: none;
  color: white;
}

.logoMobileContainer {
  margin-left: 3rem;
}

@media screen and (min-width: 651px) {
  .navbarMobile {
    display: none;
  }
}
