.tableSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
